/* *{
  border:1px solid black !important;
} */
.calendar_wrapper {
  max-width: 600px;
}

/* #calendar {
  aspect-ratio: 17/18;
} */

.h-17 {
  height: 17%;
}

.day {
	width: calc(100% / 7);
	height: 100px;
}
