#calendar {
  margin: auto;
  width: 100%;
  border-collapse:collapse;
  cursor: default;
}

#calendar td {
  position: relative;
  width: calc(100% / 7);
  height: 61.5px;
  font-size: 9pt;
}
#calendar .day {
  cursor: pointer;
  border: 1px solid gray;
  background-clip:padding-box;
}

#calendar .cal-mdg{
  background-color :#fff56d;
}
#calendar .cal-omd {
  background-color:#ffd16d;
}

#calendar .cal-ndg {
  background-color :#6d6dff;
}
#calendar .cal-ond {
  background-color :#6d6ddc; 
}

#calendar .cal-sick {
  background-color :#b26b6b;
}

#calendar .cal-vac {
  background-color: #89cf91;
}

#calendar .today {
  outline: 2px solid black;
  outline-offset:-2px;
}

#calendar td div:first-child {
  position: absolute;
  top: 3px;
  right: 3px;
}
#calendar .year, #calendar .month {
  cursor: pointer;
  width: calc(100% / 3);
}

#calendar tr:first-child th:nth-child(2) div {
  display: flex;
  justify-content: center;
}

#calendar button {
  cursor: pointer;
  font-weight: bold;
}

/* #calendar tr:nth-child(1) th:nth-child(1) {
}
#calendar tr:nth-child(1) th:nth-child(3) {
} */

#calendar .arrow_wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
}

#calendar .arrow {
  cursor:pointer;
  height: 15px;
}

#calendar .icons_bottom {
  display: flex;
  position: absolute;
  bottom: 4px;
  left: 2px;
}
#calendar .icons_top {
  display: flex;
  position: absolute;
  top: 4px;
  left: 2px;
}
#calendar .icons_top img, #calendar .icons_bottom img {
  height: 11px;
  margin: 0 2px;
}
#graphic {
  margin-bottom: 10px;
}

.day_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  cursor:default;
}

.day_menu_title, .time_menu_title {
  margin-bottom: 8px;
  color:#000;
}

.day_menu_content {
  position: relative;
  box-sizing:border-box;
  padding: 25px 15px;
  background-color:white;
  width: 90%;
  min-height: 300px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.day_menu_close {
  position: absolute;
  top: 0px;
  right: 9px;
  font-size: 30px;
  color: #000;
  opacity: .5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.day_menu_data {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.day_menu_data>div {
  margin: 8px 0;
  text-align: left;
}

.day_menu_data .day_type_wrapper select[name="day_type"] {
  width: 100%;
  outline: none;
  border: none;
  background-color:transparent;
}



.day_menu_data .note textarea {
  box-sizing:border-box;
  width: 100%;
  height: 70px;
  resize: none;
}

.day_menu_data .holiday_checkbox {
  display: flex;
  align-items:center;
}

.day_menu_data .holiday_checkbox input {
  margin-left: 0;
}

.day_menu_data .graphic_time div:nth-child(2) {
  color:black;
  font-weight: normal;
}

.day_menu_data .actual_time div:nth-child(2) {
  color:black;
  font-weight: normal;
}

.day_menu_data .holiday_checkbox div {
  color:black;
  font-weight: normal;
}


.day_menu_data .graphic_time div:nth-child(2).disable {
  color:#A3A4A8;
}

.day_menu_data .actual_time div:nth-child(2).disable {
  color:#A3A4A8;
}


.day_menu .actual, .day_menu .graphic {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.day_menu_data .graphic_time img, .day_menu_data .actual_time img {
  height: 15px;

}

.time_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  cursor:default;
}

.time_menu_content {
  position: relative;
  box-sizing:border-box;
  padding: 25px 15px;
  background-color:white;
  width: 80%;
  /* min-height: 300px; */
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.time_menu_data {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.time_menu_data>div {
  /* margin: 8px 0; */
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}
.time_menu_data .small_descr {
  text-align: left;
}

.time_menu_data .calcdTime div:nth-child(2) {
  height: 24px;
  display: table-cell;
  vertical-align: middle;
  color:#000;
  font-weight: normal;
}

.time_menu_data .time_title {
  justify-content:space-between;
  margin-top: 20px;
  margin-bottom: 0px;
  /* color:#000; */
  font-weight: normal;
}

.time_menu_data .time_menu_total_time {
  margin-top: 25px;
  /* justify-content: center; */
  color:#000;
}

.time_menu_content .time_menu_btns {
  width: 90%;
  margin: auto;
  margin-top: 25px;
  display: flex;
  justify-content: right;
}

.time_menu_content .time_menu_btns button {
  cursor: pointer;
  margin: 0 4px;
}

.time_menu_data input[type=time] {
  box-sizing:border-box;
  width: 75px;
  height: 24px;
}

.modal_data .calendar_wrapper {
  height: 460px;
}

