#calendar {
  margin: auto;
  width: 100%;
  border-collapse:collapse;
}

#calendar td {
  position: relative;
  width: calc(100% / 7);
  height: 61.5px;
  font-size: 9pt;
}

#calendar .cal-mdg {
  background-color :#fff56d;
  border: 1px solid gray;
  background-clip:padding-box;
}

#calendar .cal-ndg {
  background-color :#6b6cb2;
  border: 1px solid gray;
  background-clip:padding-box;
}

#calendar .day-off {
  border: 1px solid gray;
  background-clip:padding-box;
}

#calendar .today {
  outline: 2px solid black;
  outline-offset:-2px;
  background-clip:padding-box;
}

#calendar td div:first-child {
  position: absolute;
  top: 3px;
  right: 3px;
}
#calendar .year, #calendar .month {
  cursor: pointer;
  width: calc(100% / 3);
}

#calendar tr:first-child th:nth-child(2) div {
  display: flex;
  justify-content: center;
}

#calendar button {
  cursor: pointer;
  font-weight: bold;
}

/* #calendar tr:nth-child(1) th:nth-child(1) {
}
#calendar tr:nth-child(1) th:nth-child(3) {
} */

#calendar .arrow_wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
}

#calendar .arrow {
  cursor:pointer;
  height: 15px;
}

#calendar .icons {
  display: flex;
  position: absolute;
  bottom: 4px;
  left: 2px;
}
#calendar .icons img {
  height: 12px;
  margin: 0 2px;
}
#graphic {
  margin: 20px 0;
}

.day_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);

}

.day_menu_content {
  position: relative;
  box-sizing:border-box;
  padding: 25px 15px;
  background-color:white;
  width: 90%;
  min-height: 300px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.day_menu_close {
  position: absolute;
  top: 0px;
  right: 9px;
  font-size: 30px;
  color: #000;
  opacity: .5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.day_menu_data {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.day_menu_data>div {
  margin: 8px 0;
  text-align: left;
}

.day_menu_data .day_type_wrapper select[name="day_type"] {
  width: 100%;
  outline: none;
  border: none;
  background-color:transparent;
}



.day_menu_data .note textarea {
  box-sizing:border-box;
  width: 100%;
  height: 70px;
  resize: none;
}

.day_menu_data .holiday_checkbox {
  display: flex;
  align-items:center;
}

.day_menu_data .holiday_checkbox input {
  margin-left: 0;
}