#calendar {
  margin: auto;
  width: 100%;
  border-collapse:collapse;
}

#calendar td {
  position: relative;
  width: calc(100%/7);
  height: 61.5px;
  font-size: 9pt;
}

#calendar .cal-mdg {
  background-color :#fff56d;
  border: 1px solid gray;
}

#calendar .cal-ndg {
  background-color :#6b6cb2;
  border: 1px solid gray;
}

#calendar .day-off {
  border: 1px solid gray;
}

#calendar td div:first-child {
  position: absolute;
  top: 3px;
  right: 3px;
}